*,::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 100px;
    background-color: #ffeae0;
}

button {
    padding: 10px 23px;
    background-color: #ff511c;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    background-color: #ffeae0;
}

#nav-links1 {
    display: flex;
    list-style: none;
    gap: 48px;
}

#nav ul {
    display: flex;
    list-style: none;
}

#nav ul li {
    margin-right: 30px;
}

#nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px
}

#nav ul .active::after {
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 20%;
}

.nav-item1 a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px
}

input {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;  
}

button  {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}

#signin {
    background: transparent;
    border: none;
}
#signin {
    color: #000000;
}

.signup {
    background-color: #ff511c;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
}

span {
    margin-left: 2%;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

footer {
    margin-top: 166px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a1407;
}

@media screen and (max-width: 1170px) {
    #nav ul,
    button {
        display: none;
    }

    section #login {
        display: flex;
    }

    .content {
        align-items: center;
        justify-content: center;
    }
    
    #mobile_menu {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        margin-left: 650px;
    }
  
    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nav-links2 {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
        list-style: none;
    }

    @media screen and (max-width: 600px) {
        .card-list {
            display: grid;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

#login {
    box-shadow: 0 0 20px 0 black;
}

form h1 {
    text-align: center;
    color: #333;
}

form div {
    margin-bottom: 15px;
}

form label {
    font-size: 14px;
    color: #333;
}

form input[type="email"],
form input[type="password"],
form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="checkbox"] {
    position: relative;
    margin: auto;
}

form button {
    padding: 10px 23px;
    background-color: #ff511c;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.buttonsform{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 5px;
}

.BtnCadastrese{
    text-decoration: none;
}

form button:hover {
    background-color: #B3261E;
}

section#login {
    background-color: #000000;
    margin: 10%;
    margin-left: 30%;
    width: 40%;
    background-color: white !important;
}