*,::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 100px;
    background-color: #ffeae0;
}

#nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

#nav-links1 {
    display: flex;
    list-style: none;
    gap: 48px;
}

#nav ul {
    display: flex;
    list-style: none;
}

#nav ul li {
    margin-right: 30px;
}

#nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px
}

#nav ul .active::after {
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}

.nav-item1 a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px
}

.search-section {
    display: flex;
    justify-content: center;
    margin-top: 170px;
    margin-bottom: 100px;
    
}

.search-bar {
    position: relative;
    width: 100%;
    max-width: 400px;
    
}

#searchInput {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Espaço para o botão no lado direito */
    border-radius: 30px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.search-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #666;
    font-size: 20px;
}

.search-button:hover {
    color: #000; /* Muda a cor do ícone ao passar o mouse */
}

#searchResults {
    margin-top: 20px;
}

#searchResults .result-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

input {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}

.signin {
    background: transparent;
    border: none;
}

.signup {
    background-color: #ff511c;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
}


.ultimas-receitas {
    margin-top: 180px;
    text-align: left;
    font-family: sans-serif;
    font-size: 2em;
    color: #d9451d;
}

.escolha-receita {
    margin-bottom: 80px;
    text-align: left;
    font-family: sans-serif;
    color:rgb(89, 88, 88);
}

.container-receitas-populares {
    display: flex; 
}

.imagem-receitas-populares {
    margin: 30px 100px;
    border-radius: 180px;
    height: 150px;
    width: 200px;
    box-shadow: 0 15px 8px rgba(96, 2, 2, 0.2); /* Adiciona sombra */
}

.texto-container-receitas-populares {    
    display: flex;
    flex-direction: column;
    justify-content: center; /* Para centralizar verticalmente */
    
}


.texto-container-receitas-populares h3 {
    color: #EFB726;
    padding: 20px 0;
    
}   

section-bottom {
    background-color: #363131;
    display: flex;
    flex-direction: column;
}

.topReceitas  {
    color: #EFB726 ;
    border-bottom: #EFB726 1px solid;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 1500px 10px  10px ;
    
}

.texto-container-receitas-populares h3, 
.texto-container-receitas-populares p {
    margin: 0;
}

#card {
    background-color: #EFB726;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a1407;
}

@media screen and (max-width: 1170px) {
    #nav ul,
    #input,
    .pratoGirando {
        display: none;
    }

    .content {
        align-items: center;
        justify-content: center;
    }
    
    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nav-links2 {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
        list-style: none;
    }

    @media screen and (max-width: 600px) {
        .card-list {
            display: grid;
        }
    }
}

.category {
    width: 100%;
    display:flex;
    margin-bottom: 50px;
    justify-content: center;
}

.category .list-items {
    width: 90%;
    position: relative;
    margin-top: 50px;
}

.category .list-items h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;
}

.category .list-items .card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.category .card-list #card {
    width: 200px;
    height: auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    background-color: #ffff;
    outline: 2px solid #faad96;
}

.category .card-list #card img {
    width: 100px;
    height: auto;
    bottom: 180px;
    left: 50px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: absolute;
    box-shadow: 0 20px 20px #faad96;
    border-radius: 50%;
}

.category .card-list #card .food-title {
    padding: 40px 0 10px;
}

.category .card-list #card .food-title h1 {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
}

.category #card .desc-food p {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.category #card .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category #card .price span .bx-like {
    color: #ff511c;
    font-size: 20px;
    cursor: pointer;
}

.logo a {
    display: flex;
    text-decoration: none;
    border: none;
    color: #d9451d;
    background-color: transparent;
    font-weight: 800;
    cursor: pointer;
}

.price a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.inicio {
    background-color: #ff511c;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
}