*,::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 100px;
    background-color: #ffeae0;
}

#nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

#nav-links1 {
    display: flex;
    list-style: none;
    gap: 48px;
}
.nav .logo h1 {
    font-weight: 600;
    font-family: sans-serif;
    font-size: 17px;
}

#nav ul {
    display: flex;
    list-style: none;
}

#nav ul li {
    margin-right: 30px;
}

#nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px
}

#nav ul .active::after {
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}

.nav-item1 a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px
}

input {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}

.signin {
    background: transparent;
    border: none;
}

.signup {
    background-color: #ff511c;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
}

.pesquisa-recentes{
    margin: 0;
    padding: 0;

}
.texto-pesquisa{
    text-align: left;
    margin-top: 80px;
    padding: 50px;
}
.contener-pesquisa{
    display: flex;
    align-items: center;
    
}
.imagens-pesquisa-recente{
    margin: 30px 50px;
    border-radius: 15px;
    height: 215px;
    width: 390px;

}
.texto-tacaca {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: left;
    color: rgb(88, 88, 88);
        
}

.contener-pesquisa h3, .contener-pesquisa p {
    display: flex;
    flex-direction: column;
    
}

.texto-receitas{
   margin: 0;
   padding: 0;

}

.linha-receita{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    
}

.escolha-receita{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(89, 88, 88);
}

.texto-receita-populares{
    text-align: left;
    margin: 30px 50px;
}

.container-receitas-populares{
    display: flex;
    
}

.imagem-receitas-populares{
    margin: 30px 50px;
    border-radius: 15px;
    height: 215px;
    width: 390px;
}

.texto-container-receitas-populares {    
    display: flex;
    flex-direction: column;
    justify-content: center; /* Para centralizar verticalmente */
    
}

.linha-hr{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border: 0.05px solid rgb(180, 179, 179);
    width: 900px;    

}

.texto-container-receitas-populares h3{
    color: #EFB726;
    padding: 20px 0;

}   

section-bottom{
    background-color: #363131;
    display: flex;
    flex-direction: column;
}

.topReceitas{
    color: #EFB726 ;
    border-bottom: #EFB726 1px solid;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 1500px 10px  10px ;
    
}

.texto-container-receitas-populares h3, 
.texto-container-receitas-populares p {
    margin: 0;
}

#card {
    background-color: #EFB726;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a1407;
}

@media screen and (max-width: 1170px) {
    #nav ul,
    #input,
    .pratoGirando {
        display: none;
    }

    .content {
        align-items: center;
        justify-content: center;
    }
    
    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nav-links2 {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
        list-style: none;
    }

    @media screen and (max-width: 600px) {
        .card-list {
            display: grid;
        }
    }
}

.category {
    width: 100%;
    display:flex;
    margin-bottom: 50px;
    justify-content: center;
}

.category .list-items {
    width: 90%;
    position: relative;
    margin-top: 50px;
}

.category .list-items h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;
}

.category .list-items .card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.category .card-list #card {
    width: 200px;
    height: auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    background-color: #ffff;
    outline: 2px solid #faad96;
}

.category .card-list #card img {
    width: 100px;
    height: auto;
    bottom: 180px;
    left: 50px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: absolute;
    box-shadow: 0 20px 20px #faad96;
    border-radius: 50%;
}

.category .card-list #card .food-title {
    padding: 40px 0 10px;
}

.category .card-list #card .food-title h1 {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
}

.category #card .desc-food p {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.category #card .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category #card .price span .bx-like {
    color: #ff511c;
    font-size: 20px;
    cursor: pointer;
}