*,::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
}

body {
    margin: 0 100px;
    background-color: #ffeae0;
}

#nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

#nav-links1 {
    display: flex;
    list-style: none;
    gap: 48px;
}

.logo a {
    display: flex;
    text-decoration: none;
    border: none;
    color: #d9451d;
    background-color: transparent;
    font-weight: 800;
    cursor: pointer;
}
#nav ul {
    display: flex;
    list-style: none;
}

#nav ul li {
    margin-right: 30px;
}

#nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px
}

nav ul .active::after {
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 2%;
}

.nav-item1 a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px
}

input {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}

.signin {
    background: transparent;
    border: none;
}

.signup {
    background-color: #ff511c;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
}

#Receita {
    background-color: #F5EF52;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.description {
    background-color: #F5EF52;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.card {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 10px;
}

 #post{
    border-left:saddlebrown ;
}

#posts {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    background-color: #F1F2E7;
    flex-direction: row;
    margin: 150px 20px;
}

#nav ul .active::after {
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}

footer {
    margin: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a1407;
}

span {
    margin-left: 2%;
}

.category {
    width: 100%;
    display:flex;
    margin-bottom: 50px;
    justify-content: center;
}

.category .list-items {
    width: 90%;
    position: relative;
    margin-top: 50px;
}

.category .list-items h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;
}

.category .list-items .card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.category .card-list #card {
    width: 200px;
    height: auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    background-color: #ffff;
    outline: 2px solid #faad96;
}

.category .card-list #card img {
    width: 100px;
    height: auto;
    bottom: 150px;
    left: 50px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: absolute;
    box-shadow: 0 20px 20px #faad96;
    border-radius: 50%;
}

.category .card-list #card .food-title {
    padding: 40px 0 10px;
}

.category .card-list #card .food-title h1 {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
}

.category #card .desc-food p {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.category #card .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category #card .price span .bx-like {
    color: #ff511c;
    font-size: 20px;
    cursor: pointer;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav ul,
    #input,
    .pratoGirando {
        display: none;
    }

    .content {
        align-items: center;
        justify-content: center;
    }
    
    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        margin-left: 650px;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nav-links2 {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
        list-style: none;
    }

    .card {
        flex-wrap: wrap;
    }

    @media screen and (max-width: 600px) {
        #card-list {
            flex-direction: column;
        }
    }
}

.price a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.inicio {
    background-color: #ff511c;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
}